{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KK -Login</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel='stylesheet' href='{% static 'styles/stylelogin.css' %}'
    type='text/css' type='text/css'> {% load static %}
  </head>
  <body>
    <div class="container py-5">
      <div class="container1b">
        <div>
          <img
            src="{% static 'images/Frame 2.png' %}"
            alt="Kampus Konnect Logo"
          />
        </div>
        <div class="container1binner">
          <p>Home</p>
          <p>Contact</p>
        </div>
      </div>
      <form method="POST" action="">
        <div class="container1">
          <h1 class="formheader"> Welcome Back!</h1>
        </div>
        {% comment %} <div id="flash">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-{{ message.tags}} m-0" role="alert">
            <strong>{{ message }}</strong>
          </div>
          {% endfor %} {% endif %}
        </div> {% endcomment %}
        {% csrf_token %} {{ login_form.as_p }}
        <div class="remembersetion">
          <div><input type = "radio" name = "remember">Remember Me!</input></div>
          <div><a href="#" class="forgotpwd">Forgot Password</a><br /></div>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button
        ><br />
        {{ form.errors }}
        <p class="text-center">
          Don't Have An Account Yet?
          <a href="{% url 'Signup' %}">Click Here To Signup</a>
          instead.
        </p><br/>
      </form>
    </div>
  </body>
</html>
