{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGNUP TEAM112</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel='stylesheet' href='{% static 'style.css' %}' type='text/css'
    type='text/css'> {% load static %}
  </head>

  <div class="container py-5">
    <div class="container1b">
      <div>
        <img
          src="{% static 'images/Frame 2.png' %}"
          alt="Kampus Konnect Logo"
        />
      </div>
      <div class="container1binner">
        <p>Home</p>
        <p>Contact</p>
      </div>
    </div>
    <form class="formsignup" method="POST" action="">
      <div class="container1">
        <h1>Create An Account</h1>
      </div>
      <div id="flash">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags}} m-0" role="alert">
          <strong>{{ message }}</strong>
        </div>
        {% endfor %} {% endif %}
      </div>
      {% csrf_token %} {{ signup_form.as_p }}
      <button class="btn btn-primary" type="submit">Submit</button>
      <p class="text-center">
        If you already have an account,
        <a href=" {% url 'Login' %}">login</a> instead.
      </p>
    </form>
  </div>
</html>
