{% extends 'main.html' %}
<!-- <html>
  <body>
    <p>Welcome To The Home Page</p>
    <a href="{%url 'Home'%}">Return To The Sign Up Page</a>
    <p>
      Do not ve an account yet? <a href="{%url 'Signup'%}">click here</a> to
      signup
    </p>
  </body>
</html> -->


{% block content %}

<div class="input-group md-form form-sm form-2 pl-0">
    <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
        <span class="input-group-text amber lighten-3" id="basic-text1">
            <i class="fas fa-search text-grey"aria-hidden="true"></i>
        </span>
    </div>
</div>

{% endblock content %}