{% load static %}

<!-- Desktop & Tablet view  -->
<div class="navbar">
    <div class="logo">
        <img src="{% static 'images/logo.webp' %}" alt="logo" />
    </div>
    <div>
        <form>
            <svg>

            </svg>
            <input type="text" placeholder="Search" />
            <button>
                <svg>

                </svg>
            </button>
        </form>
    </div>

    <div>
        <div>
            <svg></svg>
            <div class="notifications"></div>
        </div>
        <div>
            <p>Jenny Wilson</p>
        </div>
    </div>
</div>