*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body{
    background-image: url(images/BG.png);
    padding-bottom: 10px;
    height: 100%;
    background-position: center;
  }

  .main_signup_container{
    background-image: url(images/BG.png);
  }

  form label{
    font-weight: light;
  }
  
  .container1{
    text-align: center; 
    padding-bottom: 20px;
  }
  
  .container1binner{
    display: flex;
  }
  
  .container1binner p{
    cursor: pointer;
    padding-bottom: 20px;
    color: white;
  }
  
  .container1b{
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;
    align-items: center;
  }
  
  img{
    margin-top: -20px;
    width: 150px;
    padding-bottom: 20px;
  }
  
  form {
    width: 60%;
    height: auto;
    margin: auto;
    font-size: 1rem;
    background-color: white;
    padding: 30px 60px;
    border-radius: 10px;
  }
  
  .btn-primary, #cnt-button{
    font-size: 1.3rem;
    margin-top: 20px;
    background-color: #0A2472;
  }
  
  @media only screen and (max-width: 992px) {
    form {
      width: 80%;
    }
  }

  @media only screen and (max-width: 768px) {
    body{
       background-image: none;
       width: auto; 
    }

    form {
      padding: 0;
    }
  
    .container1b{
      padding-left: 20px;
    }

    .container1binner {
      display: none;
    }
   
  }

  @media only screen and (max-width: 500px) {
    form {
      padding: 0;
      font-size: 0.8rem;
    }

    .form-control-lg, .btn-primary {
      font-size: inherit;
    }
  }


  
  