@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.main_signup_container {
  width: 100%;
  height: 110vh;
  background: url("/static/images/BG_Image.png");
  position: relative;
}
.layer {
  background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.109));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.signup_nav {
  display: flex;
  align-items: center;
  justify-content: right;
  display: flex;
}
.signup_nav_links_container {
 display: flex;
 align-items: center;
 justify-content: right;
}
.signup_nav_links_container ul {
  display: inline-flex;
  list-style: none;
  margin-right: 60px;
}
.signup_nav_links_container ul li {
  margin-right: 40px;
}
.signup_nav_links_container ul li a {
  text-decoration: none;
  color: #fff;
}

.signup_container {
  background-color: #fff;
  border-radius: 9px;
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
}

.signup_container > h2 {
  text-align: center;
  font-size: 41px;
  font-weight: 400;
  color: #46494D;
}

.signup_form {
  margin: 0 auto;
  width: 60%;
}

.form-group label {
  font-weight: 200;
  margin: 0 0 5px 0;
  color: #393938;
}

.signup_btn {
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0A2472;
}
.signup_btn:hover {
  color: #fff;
}

.form_divider::before {
  content: '';
  width: 32%;
  height: 1px;
  display: block;
  margin-right: 5px;
  background-color: #46494d71;
}
.form_divider {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
}
.form_divider::after {
  content: '';
  width: 32%;
  height: 1px;
  margin-left: 5px;
  display: block;
  background-color: #46494d71;
}

.serviceproviderbtn_container {
  margin: 0 auto;
  display: flex;
  width: 450px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.serviceproviderbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #2125297d;
  border-radius: 9px;
  padding: 10px 12px;
}
.serviceproviderbtn img {
  margin-right: 5px;
  width: 23px;
}

.already_accounted_container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.already_accounted_container span a {
  color: #0A2472;
  font-weight: 600;
  text-decoration: none;
}
.already_accounted_container span a:hover {
  text-decoration: underline;
}
