@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --color-main: rgba(10, 36, 114, 1);
  --color-main-10: rgba(206, 211, 227, 1);
  --color-main-20: rgba(173, 182, 208, 1);
  --color-main-30: rgba(132, 145, 184, 1);
  --color-main-40: rgba(92, 109, 161, 1);
  --color-main-50: rgba(51, 73, 137, 1);
  --color-main-60: rgba(10, 36, 114, 1);
  --color-main-70: rgba(8, 30, 95, 1);
  --color-main-80: rgba(7, 24, 76, 1);
  --color-main-90: rgba(5, 18, 57, 1);
  --color-main-100: rgba(3, 12, 38, 1);
  --color-main-110: rgba(2, 7, 23, 1);
  --color-secondary: rgba(123, 44, 191, 1);
  --color-secondary-10: rgba(229, 213, 242, 1);
  --color-secondary-20: rgba(211, 185, 234, 1);
  --color-secondary-30: rgba(189, 149, 223, 1);
  --color-secondary-40: rgba(167, 114, 212, 1);
  --color-secondary-50: rgba(145, 79, 202, 1);
  --color-secondary-60: rgba(123, 44, 191, 1);
  --color-secondary-70: rgba(103, 37, 159, 1);
  --color-secondary-80: rgba(82, 29, 127, 1);
  --color-secondary-90: rgba(62, 22, 96, 1);
  --color-secondary-100: rgba(41, 15, 64, 1);
  --color-secondary-110: rgba(25, 9, 38, 1);
  --color-gray: rgba(33, 37, 41, 1);
  --color-gray-10: rgba(211, 211, 212, 1);
  --color-gray-20: rgba(181, 182, 184, 1);
  --color-gray-30: rgba(144, 146, 148, 1);
  --color-gray-40: rgba(107, 110, 112, 1);
  --color-gray-50: rgba(70, 73, 77, 1);
  --color-gray-60: rgba(33, 37, 41, 1);
  --color-gray-70: rgba(28, 31, 34, 1);
  --color-gray-80: rgba(22, 25, 27, 1);
  --color-gray-90: rgba(17, 19, 21, 1);
  --color-gray-100: rgba(11, 12, 14, 1);
  --color-gray-110: rgba(7, 7, 8, 1);
  --color-success-1: rgba(70, 194, 80, 1);
  --color-success-2: rgba(84, 233, 99, 1);
  --color-success-3: rgba(141, 240, 151, 1);
  --color-success-4: rgba(169, 244, 185, 1);
  --color-success-5: rgba(221, 251, 224, 1);
  --color-error-1: rgba(202, 63, 63, 1);
  --color-error-2: rgba(243, 76, 76, 1);
  --color-error-3: rgba(245, 106, 106, 1);
  --color-error-4: rgba(247, 136, 136, 1);
  --color-error-5: rgba(251, 195, 195, 1);
  --color-white: rgba(255, 255, 255, 1);
}

/*========== base styles ==========*/

* {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  /* color: inherit; */
}

html, body {
  font-size: 56.25%;
}

@media only screen and (min-width: 1200px) {
  html, body {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 2100px) {
  html, body {
    font-size: 100%;
  }
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray-40);
  background-color: var(--color-white);
  min-height: 100vh;
  /* position: relative; */
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  display: inline-block;
  color: var(--color-main);
  text-decoration: none;
  cursor: pointer;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.375em;
}

hr {
    background-color: var(--color-gray-10);
    color: var(--color-gray-10);
    height: 1px;
    border: none;
}

input {
    background: inherit;
}

/*========== components ==========*/
.container {
    max-width: 120rem;
    width: 90%;
    margin: auto;
}

.btn {
  background-color: var(--color-main-50);
}

/* .user__avatar {
    height: 24px;
    width: 24px;
    background-color: var(--color-gray-40);
} */

/*==============================
=>  main Section
================================*/

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 270px 1fr;
}

.sidebar {
  grid-area: 'sidebar';
}

.body-container {
  margin: 26px 71px 26px 36px;
  grid-area: 'body';
}

@media (max-width: 768px) {
  .main-container {
    grid-template-areas: 'main' 'sidebar';
    grid-template-columns: none;
  }
}

/*==============================
=>  Header Section
================================*/

.navbar {
  height: 50px;
  display: grid;
  /* grid-template-columns: 1fr 200px; */
  grid-template-columns: 3fr 1fr;
  text-align: left;
  gap: 90px;
}

.logo {
  height: 30px;
}

.logo img {
  height: inherit;
}

.navbar__desktop {
    display: grid;

}

.navbar__mobile {
    display: none;
}

.navbar__search {
  /* display: flex; */
  /* justify-content: right; */
}
.input__search {
  display: flex;
  align-self: end;
  justify-content: right;
  height: 50px;
  width: 80%;
  max-width: 600px;
  margin: auto 0 0;
}

.input__search input {
  border: 1px solid var(--color-gray-10);
}

.user__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.user__avatar {
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-main);
}

.user__notifications {
    position: relative
}

.user__notifications .icon-notify {
    height: 35px;
    width: 35px;
}

.notifications {
  height: 20px;
  width: 20px;
  background-color: var(--color-secondary-40);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -2px;
}

.user__name {
  font-size: 1em;
  font-weight: 600;
  line-height: 20px;
  color: var(--color-gray-60);
  margin: 0;
}

@media screen and (max-screen: 768px) {
    .navbar__desktop {
        display: none;
    }

    .navbar__mobile {
        display: block;
    }
}
/*==============================
=>  Sidebar Section
================================*/

.sidebar {
  height: 100%;
  width: 100%;
  background: #FBFBFB;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.sidebar::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.sidebar.desktop-view {
  display: block
}

.sidebar.mobile-view {
  display: none
}

.sidebar__logo {
  text-align: center;
}

.sidebar__logo-link {
  display: inline-block;
  height: 51.36px;
  margin: 30px auto 
}

.sidebar__logo img {
  height: inherit;
}

.sidebar__item {
  display: block;
  color: var(--color-gray-40);
  height: 48px;
  padding: 24px;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.sidebar__item p {
  display: flex;
  align-items: center;
  width: inherit;
  gap: 16px;
}

.sidebar__item:hover,
.sidebar__item:focus,
.sidebar__item:active {
  color: var(--color-white);
  background-color: var(--color-main-50);
}

.sidebar__item .icon {
  height: 24px;
  width: 24px;
  align-content: center;
}

.sidebar__item .icon .svg-icon {
  color: inherit;
  fill: currentColor;
}

.sidebar__item-text {
  font-size: inherit;
}

@media only screen and (max-width: 768px) {
    .sidebar.desktop-view {
        display: none;
    }

    .sidebar.mobile-view {
        display: flex;
        gap: 0
    }

    .sidebar {
        --mobile-sidebar-height: 82px;
        height: var(--mobile-sidebar-height);
        width: 100%;
        max-width: 100%;
        background: var(--color-main-60);
        position: fixed;
        z-index: 1;
        top: calc(100% - var(--mobile-sidebar-height));
        justify-content: center;
        align-items: center;
        overflow: visible;
    }

    .sidebar__item {
        height: 100%;
        width: 100%;
        padding: unset;
        margin: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar__item-link {
        display: inline-block;
        position: relative;
    }

    .sidebar__item .icon .svg-icon {
        fill: var(--color-gray-10);
        fill-opacity: 0.7;
    }

    .sidebar__item .icon .svg-icon:hover,
    .sidebar__item .icon .svg-icon:focus,
    .sidebar__item .icon .svg-icon:active
     {
        fill: var(--color-white);
        fill-opacity: 1;
    }
    
    .create-video {
        background-color: var(--color-main-60);
        --size: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        border: 6px solid var(--color-white);
        position: absolute;
        top: calc(100% - 1.6 * (var(--size)) );
        z-index: 100;
    }

    .create-video .icon {
        text-align: center;
    }
}

