#navbar-search-input{
    font-size: 16px;
}

#watch-category button {
    font-size: 16px;
    background-color: #F9F9F9;
}

#all-button, #search-btn {
    background-color: #334989;
    color: white;
}

#watch-category button:hover {
    background-color: #334989;
    color: white;
} 

#watch-links a {
    color: black;    
}

#subscribe-btn {
    background-color: #334989;
    color: white;
}

/* @media (min-width: 1270px) {
    #watch-links a {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    #watch-links a {
        font-size: 1.5rem;
    }
} */

@media (min-width: 992px) {
    #watch-play {
        width: 75%;
    }
}